In [2]:
import pandas as pd


Problem 4 (optional) - Parsing daily temperatures
This is an optional task for more advanced students who want more practice.

In this problem, the aim is to aggregate the hourly temperature data for Helsinki Kumpula and Rovaniemi weather stations to a daily level. Currently, there are 3 measurements per hour in the data.

This problem is more challenging as we provide only minimal instructions for completing the given tasks.

What to do
Create a new DataFrame where you have calculated mean, max and min Celsius temperatures for each day separately using the hourly values from Rovaniemi and Helsinki Kumpula
Don't forget to:

Include useful comments in your code
Push your solution to GitHub
Hint
You can find help from the Pandas Official documentation and Google. If you think you can handle this but don't know how to proceed, ask for tips in Slack!

In [9]:

#Probably the simplest approach is to use the resample command. First, when you read in your data make sure you parse the dates and set the date column as your index (ignore the StringIO part and the header=True ... I am reading in your sample data from a multi-line string):

#df = pd.read_csv(StringIO(data),header=True,parse_dates=['Date'],
                     #index_col='Date')
kumpula = pd.read_csv('Exercise5-Kumpula_temps_May_Aug_2017.csv', parse_dates = ['YR--MODAHRMN'], index_col = 'YR--MODAHRMN')
rovaniemi = pd.read_csv('Exercise5-Rovaniemi_temps_May_Aug_2017.csv', parse_dates = ['YR--MODAHRMN'], index_col = 'YR--MODAHRMN')

In [10]:
# df.resample('M').mean()
kumpula.resample('D').mean()
rovaniemi.resample('D').mean()

                 USAF       TEMP   MAX   MIN    Celsius
YR--MODAHRMN
2017-05-01    28450.0  35.958333  39.0  30.5   2.013889
2017-05-02    28450.0  38.180556  43.5  35.5   3.041667
2017-05-03    28450.0  35.788732  38.0  35.0   1.676056
2017-05-04    28450.0  39.902778  42.5  32.5   4.180556
2017-05-05    28450.0  44.430556  51.0  40.0   6.472222
...               ...        ...   ...   ...        ...
2017-08-27    28450.0  45.845070  48.0  43.5   7.197183
2017-08-28    28450.0  48.458333  51.5  43.5   8.722222
2017-08-29    28450.0  51.458333  52.5  47.5  10.416667
2017-08-30    28450.0  52.333333  56.0  50.0  10.986111
2017-08-31    28450.0  53.541667  57.5  49.0  11.486111

[123 rows x 5 columns]